src/main/resources/xsd/2016/04/28/InterpreterInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.oio.dk/medcom.dk/xml/schemas/2016/04/28/" 
	xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2002/06/28/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://rep.oio.dk/medcom.dk/xml/schemas/2016/04/28/" 
	xmlns:dntz="http://rep.oio.dk/medcom.dk/xml/schemas/2016/09/23/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="../../../2016/09/23/date_no_tz.xsd" namespace="http://rep.oio.dk/medcom.dk/xml/schemas/2016/09/23/"/>
	<xs:include schemaLocation="GeneralElements.xsd"/>
	<xs:include schemaLocation="LetterType.xsd"/>
	<xs:include schemaLocation="Sender.xsd"/>
	<xs:include schemaLocation="Receiver.xsd"/>
	<xs:include schemaLocation="Patient.xsd"/>
	<xs:element name="InterpreterInvoice" type="InterpreterInvoiceType">
		<xs:annotation>
			<xs:documentation>Tolke Afregning</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InterpreterInvoiceType">
		<xs:annotation>
			<xs:documentation>Definition af en Tolk regning</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Letter" type="InterpreterInvoiceLetterType">
				<xs:annotation>
					<xs:documentation>Kan betragtes som et Letter element, som blot begrænses til VersionCode=U3740U og TypeCode=RUC37</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sender" type="InterpreterInvoiceSenderType"/>
			<xs:element name="Receiver" type="InterpreterInvoiceRecieverType"/>
			<xs:element name="LetterBuildDate"> <!-- AfregnPeriodeStart -->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Year">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="10000"/>
									<xs:minExclusive value="1990"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Month">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="13"/>
									<xs:minExclusive value="0"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Date">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="32"/>
									<xs:minExclusive value="0"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Hour">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="25"/>
									<xs:minInclusive value="00"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Minute">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="60"/>
									<xs:minInclusive value="00"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvoiceStartDate"> <!-- AfregnPeriodeStart -->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Year">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="10000"/>
									<xs:minExclusive value="1990"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Month">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="13"/>
									<xs:minExclusive value="0"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Date">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="32"/>
									<xs:minExclusive value="0"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Hour">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="25"/>
									<xs:minInclusive value="00"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Minute">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="60"/>
									<xs:minInclusive value="00"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvoiceEndDate"> <!-- AfregnPeriodeSlut -->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Year">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="10000"/>
									<xs:minExclusive value="1990"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Month">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="13"/>
									<xs:minExclusive value="0"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Date">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="32"/>
									<xs:minExclusive value="0"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Hour">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="25"/>
									<xs:minInclusive value="00"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
						<xs:element name="Minute">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:maxExclusive value="60"/>
									<xs:minInclusive value="00"/> 
								</xs:restriction> 
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Name" type="String_1_35"/> <!-- SYSTEMNAVN -->
			<xs:element name="Version" type="String_1_35"/>  <!-- SystemVersion’ -->
			<xs:element name="Amount"> <!-- Totalbeloebregning8 -->
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxExclusive value="999999999999999999"/>
						<xs:minInclusive value="-99999999999999999"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Invoice" minOccurs="1" maxOccurs="unbounded"> <!-- SG05 -->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" minOccurs="0" maxOccurs="1" type="String_1_70"/>  <!--Regningskommentar  -->
						<xs:element name="Insured"> 		<!--PatID11 og PatientNatKode  -->        	
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:element ref="CivilRegistrationNumber"/>
										<xs:sequence>
											<xs:element name="AlternativeIdentifier" type="InvoiceReplacementCPRType"/>
											<xs:element name="CountryCode" type="xs:positiveInteger"/>
										</xs:sequence>
										
									</xs:choice>
								</xs:sequence>  
							</xs:complexType>
						</xs:element>
						
						
						<xs:element name="Activity">
							<xs:complexType>
								<xs:sequence>
									  <xs:element name="Correction" minOccurs="0" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[C]"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>  
									
									<xs:element name="DateOfTreatment" type="dntz:dateNoTZ" /> <!-- Behandlingsdato18 -->
									<xs:element name="TimeOfTreatment"><!-- Ydelsestidspkt33 -->
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="(([0-1][0-9])|(2[0-3])):([0-5][0-9])"/> 
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SatellitLocation" minOccurs="0" maxOccurs="1"><!-- Pnummer -->
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/> 
												<xs:maxLength value="35"/>
											</xs:restriction> 
										</xs:simpleType>
									</xs:element>
									<xs:element name="InterpreterBookingID" minOccurs="0" maxOccurs="1"><!-- TolkeBookingID -->
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/> 
												<xs:maxLength value="35"/>
											</xs:restriction> 
										</xs:simpleType>
									</xs:element>
									<xs:element name="InvoiceID" minOccurs="1" maxOccurs="1"> <!-- RegningsID' -->
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/> 
												<xs:maxLength value="35"/>
											</xs:restriction> 
										</xs:simpleType>
									</xs:element>
									<xs:element name="Statistic15abcde" minOccurs="0" type="String_1_6"/> <!-- Statistik15abcde -->
									<xs:element name="PractitionerIdentifier" type="String_1_17"/> <!-- BehandlendeYder -->
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Service" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Rate"> <!-- Ydelsesnr18-32 -->
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[0-9]{1,4}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element name="Amount"><!-- Antalydelser -->
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:maxExclusive value="999"/>
												<xs:minExclusive value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								
									<xs:element name="PractitionerID" minOccurs="1" maxOccurs="1"> <!--TolkeID  -->
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="11"/>
												<xs:minLength value="0"/>
												</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CodeList" minOccurs="1" maxOccurs="1"> <!--Kodeliste -->
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CodeListResponsible" minOccurs="1" maxOccurs="1"><!-- Kodelisteansvarlig -->
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InterpreterInvoiceLetterType">
		<xs:annotation>
			<xs:documentation>Kan betragtes som en LetterType, som blot begrænses til VersionCode=U3740U og TypeCode=RUC37</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifier" type="String_1_14"/>
			<xs:element name="VersionCode">
				<xs:simpleType>
					<xs:restriction base="VersionCodeType">
						<xs:pattern value="XU3740U"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatisticalCode" type="String_1_8"/>
			<xs:element name="Bundleindentifier" type="String_1_35"/>
			<xs:element name="Authorisation" type="DateTimeType"/>
			<xs:element name="TypeCode">
				<xs:simpleType>
					<xs:restriction base="TypeCodeType">
						<xs:pattern value="XRUC37"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatusCode">
				<xs:simpleType>
					<xs:restriction base="StatusCodeType">
						<xs:pattern value="nytbrev"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InterpreterInvoiceSenderType">
		<xs:sequence>
			<xs:element ref="EANIdentifier"/>
			<xs:element ref="Identifier"/>
			<xs:element ref="SpecialityIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InterpreterInvoiceRecieverType">
		<xs:sequence>
			<xs:element ref="EANIdentifier"/>
			<xs:element name="CountyIdentifier" type="String_1_35"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
