src/main/resources/xsd/2019/09/18/MiBaReportTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    targetNamespace="http://rep.oio.dk/medcom.dk/xml/schemas/2019/09/18/"
    xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/"
    xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2002/06/28/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://rep.oio.dk/medcom.dk/xml/schemas/2019/09/18/"
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    xmlns:ns1="http://rep.oio.dk/sundcom.dk/medcom.dk/xml/schemas/2006/07/01/">
  
    <xs:include schemaLocation="GeneralElements.xsd"/>
    <xs:include schemaLocation="LetterType.xsd"/>
    <xs:include schemaLocation="ValueLists.xsd"/>

  <xs:complexType name="MiBaReportLetterType">
    <xs:annotation>
      <xs:documentation>Kan betragtes som en LetterType, som blot begrænses til VersionCode=XR0631M og TypeCode=XRPT06.
                        Denne version for overførsel til MIBA er samhørende med XRPT05 version XR0532M.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Identifier" type="String_1_14"/>
      <xs:element name="VersionCode">
        <xs:simpleType>
          <xs:restriction base="VersionCodeType">
            <xs:pattern value="XR0631M"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StatisticalCode" type="String_1_8"/>
      <xs:element name="Authorisation" type="DateTimeType"/>
      <xs:element name="TypeCode">
        <xs:simpleType>
          <xs:restriction base="TypeCodeType">
            <xs:pattern value="XRPT06"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MicrobiologyWebReportSenderType">
    <xs:sequence>
      <xs:element ref="EANIdentifier"/>
      <xs:element ref="Identifier"/>
      <xs:element ref="IdentifierCode"/>
      <xs:element ref="OrganisationName"/>
      <xs:element ref="DepartmentName" minOccurs="0"/>
      <xs:element ref="UnitName" minOccurs="0"/>
      <xs:element ref="MedicalSpecialityCode"/>
      <xs:element name="FromLabIdentifier" type="String_1_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MicrobiologyWebReportReceiverType">
    <xs:sequence>
      <xs:element ref="EANIdentifier"/>
      <xs:element ref="Identifier"/>
      <xs:element name="IdentifierCode">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Kode for aktør med mulighed for lokal_kode</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="sygehusafdelingsnummer"/>
            <xs:enumeration value="ydernummer"/>
            <xs:enumeration value="lokationsnummer"/>
            <xs:enumeration value="kommunenummer"/>
            <xs:enumeration value="amt"/>
            <xs:enumeration value="sorkode"/>
            <xs:enumeration value="lokal_kode"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="OrganisationName" minOccurs="0"/>
      <xs:element ref="DepartmentName" minOccurs="0"/>
      <xs:element ref="UnitName" minOccurs="0"/>
      <xs:element ref="StreetName" minOccurs="0"/>
      <xs:element ref="SuburbName" minOccurs="0"/>
      <xs:element ref="DistrictName" minOccurs="0"/>
      <xs:element ref="PostCodeIdentifier" minOccurs="0"/>
      <xs:element ref="TelephoneSubscriberIdentifier" minOccurs="0"/>
      <xs:element name="Physician" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PersonInitials" type="String_1_17"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MicrobiologyWebReportCCReceiverType">
    <xs:sequence>
      <xs:element ref="Identifier"/>
      <xs:element ref="IdentifierCode"/>
      <xs:element ref="OrganisationName" minOccurs="0"/>
      <xs:element ref="DepartmentName" minOccurs="0"/>
      <xs:element ref="UnitName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MiBaReportPatientType">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="CivilRegistrationNumber"/>
        <xs:element ref="AlternativeIdentifier"/>
      </xs:choice>
      <xs:element ref="PersonSurnameName"/>
      <xs:element ref="PersonGivenName" minOccurs="0"/>
      <xs:element name="Consent" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Given" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentificationBasicType">
    <xs:sequence>
      <xs:group ref="CodingGroup" minOccurs="0"/>
      <xs:element name="Text" type="ParagraphedTextType"/>
      <xs:element name="Protected" minOccurs="0" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="CodingGroup">
    <xs:sequence>
      <xs:element name="Code" type="String_1_20"/>
      <xs:element name="CodeQualifier" type="CodeQualifierType"/>
      <xs:element name="CodeType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="lokal"/>
            <xs:enumeration value="mds"/>
            <xs:enumeration value="iupac"/>
            <xs:enumeration value="miba"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CodeResponsible" type="String_1_20"/>
      <xs:sequence minOccurs="0" >
        <xs:element name="MiBaCode" type="String_1_20"/>
        <xs:element name="MiBaCodeQualifier" type="CodeQualifierType"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="CodeQualifierType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CodedIdentificationType">
    <xs:annotation>
      <xs:documentation>Like IdentificationBasicType, but coding is mandatory, and Text is changed to String</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="CodingGroup"/>
      <xs:element name="Text" type="String_1_350"/>
      <xs:element name="Protected" minOccurs="0" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation>Like IdentificationBasicType, but coding is mandatory, and Text is changed to String</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="CodingGroup"/>
      <xs:element name="Text" type="String_1_35"/>
      <xs:sequence minOccurs="0">
        <xs:element name="Operator" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="mindre_end"/>
              <xs:enumeration value="stoerre_end"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Value" type="String_1_12"/>
        <xs:element name="Unit" type="String_1_16" minOccurs="0"/>
      </xs:sequence>
      <xs:element name="Protected" minOccurs="0" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultExtendedType">
    <xs:annotation>
      <xs:documentation>Like IdentificationBasicType, but coding is mandatory, and Text is changed to String and ExtraText is added</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="CodingGroup"/>
      <xs:element name="Text" type="String_1_35"/>
      <xs:element name="ExtraText" type="String_1_Unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>String for long sequence of chars. (for instance ribotypes, dna-sequences)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:sequence minOccurs="0">
        <xs:element name="Operator" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="mindre_end"/>
              <xs:enumeration value="stoerre_end"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Value" type="String_1_12"/>
        <xs:element name="Unit" type="String_1_16" minOccurs="0"/>
      </xs:sequence>
      <xs:element name="Protected" minOccurs="0" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FindingsType">
    <xs:sequence>
      <xs:element name="InterPretation" type="IdentificationBasicType"/>
      <xs:element name="ReferenceInterval" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:sequence minOccurs="0">
              <xs:element name="TypeOfInterval">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="fysiologisk"/>
                    <xs:enumeration value="terapeutisk"/>
                    <xs:enumeration value="uspecificeret"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="LowerLimit" type="String_1_8" minOccurs="0"/>
              <xs:element name="UpperLimit" type="String_1_8" minOccurs="0"/>
            </xs:sequence>
            <xs:element name="IntervalText" type="String_1_70" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Operator" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="mindre_end"/>
            <xs:enumeration value="stoerre_end"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Value" type="String_1_12"/>
      <xs:element name="Unit" type="String_1_16" minOccurs="0"/>
      <xs:element name="ResultValidation" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="for_hoej"/>
            <xs:enumeration value="for_lav"/>
            <xs:enumeration value="unormal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Comments" type="IdentificationBasicType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>KommtekstTolkning</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Protected" minOccurs="0" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PatternFindingsType">
    <xs:sequence>
      <xs:element name="ReferenceInterval" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:sequence minOccurs="0">
              <xs:element name="TypeOfInterval">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="fysiologisk"/>
                    <xs:enumeration value="terapeutisk"/>
                    <xs:enumeration value="uspecificeret"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="LowerLimit" type="String_1_8" minOccurs="0"/>
              <xs:element name="UpperLimit" type="String_1_8" minOccurs="0"/>
            </xs:sequence>
            <xs:element name="IntervalText" type="String_1_70" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Operator">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="mindre_end"/>
            <xs:enumeration value="stoerre_end"/>
            <xs:enumeration value="lig_med"/>
            <xs:enumeration value="ikke_angivet"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Value" type="String_1_12"/>
      <xs:element name="Unit" type="String_1_16" minOccurs="0"/>
      <xs:element name="Comments" type="IdentificationBasicType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>KommtekstTolkning</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertiesBasicType">
    <xs:sequence>
      <xs:element name="Property" type="CodedIdentificationType"/>
      <xs:element name="Result" type="ResultType"/>
      <xs:element name="PropertyAnalysis" type="PropertyAnalysisType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Protected" minOccurs="0" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertyAnalysisType">
    <xs:sequence>
      <xs:group ref="CodingGroup"/>
      <xs:element name="Text" type="String_1_350"/>
      <xs:element name="Variant" type="String_1_70" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Result" type="ResultExtendedType" minOccurs="0"/>
      <xs:element name="Assay" type="AssayType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Protected" minOccurs="0" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssayType">
    <xs:sequence>
      <xs:group ref="CodingGroup"/>
      <xs:element name="Text" type="String_1_35"/>
      <xs:element name="Result" type="ResultExtendedType" minOccurs="0"/>
      <xs:element name="Protected" minOccurs="0" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
